@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.bannerImg {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.ban3 {
  object-position: top;
}

.notices {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #e0e5ee;
  gap: 5px;
}

.bannerInd {
  width: 100%;
}
.bannerInd img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (max-width: 425px) {
  .notices {
    flex-wrap: wrap;
  }
  .bannerImg {
    height: 300px;
  }
  .bannerInd img {
    height: auto;
  }
}
.navbar {
  padding: 0;
}

.postNav {
  height: 30px;
  width: 100%;
  background-color: #02236d;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003391;
  padding: 5px 10px;
}

.logo {
  width: 33%;
  display: flex;
}

.escudo {
  display: flex;
  text-decoration: none;
  height: auto;
  align-items: center;
  justify-content: center;
}

.escudo div {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #003391;
  margin-left: 10px;
}

.escudo div span {
  color: white;
  font-family: "adineue PRO";
  padding: 0;
  font-size: 20px;
  background-color: #003391;
  line-height: 110%;
}

.escudo div span span {
  font-weight: bold;
}

.escudoImg {
  width: 45px;
}

.lamit {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003391;
}
.lamit P {
  font-family: "Alfa Slab One", serif;
  font-size: 30px;
  color: #F3B229;
}

.link {
  text-decoration: none;
  font-family: "adineue PRO";
  letter-spacing: 1px;
  font-weight: 600;
  color: #eeeeee;
  font-size: 18px;
  border-radius: 5px;
  transition: 1.5s;
  padding: 3px;
}

.link:hover {
  font-size: 20px;
  background-color: #02236d;
}

.navLinks {
  display: flex;
  background-color: #003391;
  align-items: center;
  justify-content: space-around;
  width: 33%;
}

.boton {
  display: flex;
  justify-content: end;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.offcanvas-header {
  background-color: #02236d;
}
.offcanvas-header h5 {
  color: #eeeeee;
}

.offcanvas-body {
  background-color: #003391;
}

@media (max-width: 768px) {
  .logo {
    width: auto;
  }
  .escudo div {
    position: absolute;
    top: -1000px;
  }
  .lamit p {
    white-space: nowrap;
  }
}
@media (max-width: 425px) {
  .lamit p {
    font-size: 24px;
    white-space: nowrap;
  }
}
.card {
  width: 24%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #f0f0f0;
  transition: 0.5s;
  margin-bottom: 20px;
  position: relative;
  transform: scale(0.98);
}

.card:hover {
  transform: scale(1);
  box-shadow: 0px 0px 12px 0px rgba(54, 54, 54, 0.64);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(54, 54, 54, 0.64);
  -moz-box-shadow: 0px 0px 12px 0px rgba(54, 54, 54, 0.64);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  border-radius: 35%;
}

.cardImg {
  border-radius: 3% 3% 0 0;
  height: 100%;
  width: 100%;
}

.card h3 {
  font-size: 23px;
  font-family: "adineue PRO";
  font-weight: bolder;
  margin: 10px 10px;
}

.precio {
  color: #212529;
  font-family: "adineue PRO";
  font-weight: 900;
  letter-spacing: 2px;
  margin: 1px 10px;
}

.oferta {
  font-family: "adineue PRO";
  font-weight: 900;
  letter-spacing: 2px;
  margin: 1px 10px;
  color: red;
}

.oferta s {
  color: #212529;
}

.comprar {
  margin: 16px;
  text-decoration: none;
  color: white;
  align-self: center;
  padding: 5px;
  background-color: rgb(26, 26, 26);
  box-shadow: 4px 4px 0px 0px #d1d1d1;
  -webkit-box-shadow: 4px 4px 0px 0px #d1d1d1;
  -moz-box-shadow: 4px 4px 0px 0px #d1d1d1;
  font-family: "adineue PRO";
  font-weight: 900;
  letter-spacing: 2px;
  transition: 1s;
}

.comprar:hover {
  transform: scale(1.1);
  border-radius: 8%;
}

.mainStore {
  background-color: #e0e5ee;
}

.bannerImgStore {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.marcosRojo {
  display: inline-block;
  width: 50%;
}

.section1 {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

.navLinks {
  display: flex;
  background-color: #003391;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.sectStore {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 425px) {
  .sectStore {
    padding: 15px;
  }
  .card {
    justify-content: space-between;
  }
  .card h3 {
    font-size: 20px;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
}
.preFooter {
  height: 15px;
  width: 100%;
  background-color: #27344b;
}

footer {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #1D293E;
  justify-content: space-between;
  align-items: center;
}

.redes {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.redes a img {
  height: 25px;
  width: 25px;
  opacity: 75%;
  margin: 5px;
}

.escudoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.escudoFooter img {
  height: 100%;
  width: 35px;
  opacity: 75%;
}
.escudoFooter p {
  font-family: "Alfa Slab One", serif;
  color: white;
  opacity: 70%;
  margin: 5px;
  font-size: 15px;
  white-space: nowrap;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  margin: 10px;
}
.sponsors a img {
  margin: 5px;
  height: 45px;
  width: 45px;
  opacity: 75%;
}

@media (max-width: 425px) {
  footer {
    flex-direction: column;
    height: 100%;
  }
  .sponsors {
    width: auto;
  }
  .redes {
    width: auto;
  }
}
.mainGalery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-areas: "area1 area2 area2" "area1 area4 area3" "area5 area5 area3" "area6 area8 area8" "area6 area8 area8";
  background-color: #e0e5ee;
}
.mainGalery img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.foto1 {
  grid-area: area1;
}

.foto2 {
  object-position: 0 -100px;
  grid-area: area2;
}

.foto3 {
  object-position: 0 -5px;
  grid-area: area3;
}

.foto4 {
  grid-area: area4;
}

.foto5 {
  grid-area: area5;
}

.foto6 {
  grid-area: area6;
}

.foto8 {
  grid-area: area8;
}

@media (max-width: 425px) {
  .mainGalery {
    display: flex;
    flex-direction: column;
  }
  .foto2 {
    object-position: 0;
  }
}
.sectCancha {
  display: flex;
  gap: 20px;
  background-color: #e0e5ee;
  padding: 10px;
}
.sectCancha iframe {
  width: 50%;
  border-radius: 15px;
  height: auto;
}

.infoBombonera {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoBombonera h1 {
  font-family: "adineue PRO";
  font-weight: bold;
  font-size: 60px;
}
.infoBombonera p {
  font-family: "adineue PRO";
  font-weight: 500;
  font-size: 25px;
}

.fotosCancha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  background-color: #e0e5ee;
  grid-template-areas: "area2 area3 area1 area1";
  padding: 10px;
  gap: 10px;
}
.fotosCancha img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cancha1 {
  grid-area: area1;
}

.cancha2 {
  grid-area: area2;
}

.cancha3 {
  grid-area: area3;
}

@media (max-width: 425px) {
  .sectCancha {
    flex-direction: column-reverse;
  }
  .sectCancha iframe {
    width: 100%;
    height: 400px;
  }
  .infoBombonera {
    width: 100%;
  }
  .infoBombonera h1 {
    font-size: 40px;
  }
  .infoBombonera p {
    font-size: 25px;
  }
  .fotosCancha {
    display: flex;
    flex-direction: column;
  }
}
.cardNotice {
  width: 22%;
  height: 530px;
  border-radius: 10px;
  background-color: #f0f0f0;
  transition: 0.5s;
}
.cardNotice img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.cardNotice a {
  text-decoration: none;
}

.cardNotice:hover {
  filter: brightness(0.8);
}

.noticeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.noticeTitle {
  color: #212529;
  font-family: "adineue PRO";
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.noticeInfo {
  color: #212529;
  font-size: 18px;
  font-family: "adineue PRO";
}

.noticeLink {
  align-self: center;
}

@media (max-width: 425px) {
  .cardNotice {
    width: 47%;
    height: 100%;
  }
  .noticeTitle {
    font-size: 20px;
  }
  .noticeInfo {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* p {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
