.noticeImg {
    width: 100%;
}

.bannerInd {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 425px){
    .notices {
        flex-wrap: wrap;
    }
    .bannerImg {
        height: 300px;
    }
    .bannerInd {
        img {
            height: auto;
        }
    }
}