.cardNotice {
    width: 22%;
    height: 530px;
    border-radius: 10px;
    background-color: #1D293E;
    transition: .5s;
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    a {
        text-decoration: none;
    }
}

.cardNotice:hover {
    filter: brightness(0.8);
}

.noticeText{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.noticeTitle {
    color: white;
    font-family: $font1;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.noticeInfo {
    color: white;
    font-size: 18px;
}

.noticeLink {
    align-self: center;
    justify-self: flex-end;
}

@media (max-width: 425px){
    .cardNotice {
        width: 47%;
        height: 100%;
    }
    .noticeTitle {
        font-size: 20px;
    }
    .noticeInfo {
        font-size: 15px;
    }
}