.navbar {
    padding: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $azul1;
    padding: 5px 10px;
}

.logo {
    width: 33%;
    display: flex;
}

.escudo {
    display: flex;
    text-decoration: none;
    height: auto;
    align-items: center;
    justify-content: center;
}

.escudo div {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $azul1;
    margin-left: 10px;
}

.escudo div span {
    color: white;
    font-family: $font1;
    padding: 0;
    font-size: 20px;
    background-color: $azul1;
    line-height: 110%;
}

.escudo div span span {
    font-weight: bold;
}

.escudoImg {
    width: 45px;
}

.lamit {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azul1;
    P {
        font-family: "Alfa Slab One", serif;
        font-size: 30px;
        color: #F3B229;
    }
}

.link {
    text-decoration: none;
    font-family: $font1;
    letter-spacing: 1px;
    font-weight: 600;
    color: #eeeeee;
    font-size: 18px;
    border-radius: 5px;
    transition: 1.5s;
    padding: 3px;
}

.link:hover {
    font-size: 20px;
    background-color: $azul2;
}

.navLinks {
    display: flex;
    background-color: $azul1;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}

.boton {
    display: flex;
    justify-content: end;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.offcanvas-header {
    background-color: $azul2;
    h5  {
        color: #eeeeee;
    }
}

.offcanvas-body {
    background-color: $azul1;
}

@media (max-width: 768px){

    .logo {
        width: auto;
    }

    .escudo div {
        position: absolute;
        top: -1000px;
    }

    .lamit {
        p {
            white-space: nowrap;
        }
    }
}

@media (max-width: 425px){

    .lamit {
        p {
            font-size: 24px;
            white-space: nowrap;
        }
    }

}